body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#container {
    height: 100vh;
    width: 100vw;
}

#header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(56, 56, 55);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#usrBody {
    height: 90vh;
    width: 100vw;
    background-color: rgb(91, 91, 90);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

h3 {
    margin: 0;
    padding: 15px;
    font-size: 2rem;
    color: antiquewhite;
}

#logoText {
    float: left;
}

#usrN {
    float: right;
    margin-top: 20px;
    margin-right: 25px;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logout {
    background-color: rgb(56, 56, 55);
    color: rgb(138, 138, 134);
    border-radius: 5px;
}

#logout:hover {
    cursor: pointer;
}